hackathon_venv
hack_venv2
HTL_RAGcodes/HTL_RAGcodes/jus_mundi_hackathon_data/cases/*
hackathon_venv/*
HTL_RAGcodes/HTL_RAGcodes/jus_mundi_hackathon_data/prolog_translations/*
hackathon_venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
